/* 모달 배경 */
.qr-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 콘텐츠 위에 오도록 설정 */
}

/* 모달 콘텐츠 */
.qr-modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

/* 모달 제목 스타일 */
.qr-modal-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* QR 코드 이미지 스타일 */
.qr-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}

/* 닫기 버튼 스타일 */
.qr-modal-buttons button{
    margin: 20px 5px 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qr-modal-buttons button:nth-child(1) {
    background: #ccc;
}

.qr-modal-buttons button:nth-child(2) {
    background: rgba(95, 129, 152, 0.87);
    color: white;
}

.qr-download-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 8px;
    background: rgba(58, 75, 87, 0.87);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}
